[submodule "sso-service"]
	path = sso-service
	url = https://github.com/arun65537/sso-service.git
[submodule "ordernest-inventory-service"]
	path = ordernest-inventory-service
	url = https://github.com/arunsingh8775/ordernest-inventory-service.git
[submodule "ordernest-order-service"]
	path = ordernest-order-service
	url = https://github.com/arunsingh8775/ordernest-order-service.git
[submodule "ordernest-payment-service"]
	path = ordernest-payment-service
	url = https://github.com/arunsingh8775/ordernest-payment-service.git
[submodule "ordernest-shipment-service"]
	path = ordernest-shipment-service
	url = https://github.com/arunsingh8775/ordernest-shipment-service.git
[submodule "ordernest-web"]
	path = ordernest-web
	url = https://github.com/arunsingh8775/ordernest-web.git
